.branding-area {
    align-self: start;
    text-align: center;
    margin: 10% 2% 5% 2%;
}

.background {
    padding-bottom: 5%;
}

.background img {
    height: auto;
    width: 15%;
    min-width: 60px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
    transform: rotate(3deg);
    transition: 0.2s;

    &:hover {
        transform: rotate(0deg);
    }
}

.background h1 { 
    font-family: 'Plus Jakarta Sans';
    font-weight: bold;
    color: var(--primary);
    padding-bottom: 10px;
    padding-top: 5%;
    font-size: larger;
}

.background h2 {
    font-family: 'Plus Jakarta Sans';
    color: var(--on-surface-variant);
}