.branding-area {
    display: grid;
    grid-auto-rows: auto;
    grid-auto-flow: row;
    gap: 20px;
    grid-template-areas:
        "box-1"
        "box-2"
        "box-3";
    align-self: start;
    text-align: center;
    margin: 10% 2% 5% 2%;
}

.box-1 {
    padding-bottom: 5%;
}

.box-1 img {
    height: auto;
    width: 15%;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
    transform: rotate(3deg);
    transition: 0.2s;

    &:hover {
        transform: rotate(0deg);
    }
}

.box-1 h1 { 
    font-family: 'Plus Jakarta Sans';
    font-weight: bold;
    color: var(--primary);
    padding-bottom: 10px;
    padding-top: 5%;
    font-size: larger;
}

.box-1 h2 {
    font-family: 'Plus Jakarta Sans';
    color: var(--on-surface-variant);
}