.login-form {
    background-color: var(--surface-container-lowest);
    border-radius: 10px;
    border: 1px var(--outline-variant) solid;
    text-align: start;
}

.login-form label, input {
    display: block;
}

.email-wrapper {
    margin: 3% 3%;
    margin-right: 6%;
}

.password-wrapper {
    margin: 3% 3%;
    margin-right: 6%;
}

.login-form label {
    font-family: 'Plus Jakarta Sans';
    color: #6b7289;
    font-weight: 600;
    font-size: small;
    padding-bottom: 5px;
}

.login-form input {
    font-family: 'Plus Jakarta Sans';
    background-color: var(--surface);
    fill: var(--surface);
    width: 100%;
    /* max-width: 100%; */
    padding: 2% 2% 2% 2%;
    border-radius: 10px;
    border: 1px var(--outline-variant) solid;

    &:focus-within {
        outline: none;
        border-color: 1px var(--primary) solid;
    }
}

.forgotten-password {
    display: flex;
    justify-content: end;
    margin: 20px 10px 20px 0;

}

.forgotten-password a {
    text-decoration: none;
    font-family: 'Plus Jakarta Sans';
    font-size: smaller;
    font-weight: bold;
    color: var(--primary);

    &:hover {
        text-decoration: underline;
    }
}

.access-btn {
    text-align: center;
    margin: 0px 10px 20px 10px;
}

.button {
    padding: 4%;
    width: 100%;
    border-radius: 10px;
    background: linear-gradient(45deg, var(--primary), var(--primary-container));
    cursor: pointer;
    border: 0px;
    color: var(--surface-container-lowest);
    font-family: 'Plus Jakarta Sans';
    font-size: medium;
}

hr {
    font-family: 'Plus Jakarta Sans';
    font-size: smaller;
    margin: 0px 15px 20px 15px;
    border: none;
    position: relative;
    text-align: center;

    &::before {
        background-color: var(--outline-variant);
        content: "";
        position: absolute;
        height: 1px;
        width: 100%;
        left: 0;
        top: 50%
    }

    &::after {
        content: attr(data-content);
        position: relative;
        background-color: white;
        padding: 0 20px 0 20px;
    }
}


.buttons-wrap {
    font-family: 'Plus Jakarta Sans';
    font-size: 10px;
    font-weight: bold;
    margin: 0px 10px 20px 10px;
    display: flex;
    justify-content: space-around;
}

.buttons-wrap a {
    padding: 10px 50px;
    border: 1px var(--outline-variant) solid;
    border-radius: 10px;
    color: var(--on-surface-variant);
    background-color: var(--surface-container-lowest);
    text-decoration: none;

    &:hover {
        background-color: var(--surface);
    }
}