.login-form {
    background-color: var(--surface-container-lowest);
    border-radius: 10px;
    border: 1px var(--outline-variant) solid;
    text-align: start;
}

.login-form label, input {
    display: block;
}

.email-wrapper {
    margin: 3% 3%;
    margin-right: 6%;
}

.password-wrapper {
    margin: 3% 3%;
    margin-right: 6%;
}

.login-form label {
    font-family: 'Plus Jakarta Sans';
    color: #6b7289;
    font-weight: 600;
    font-size: small;
    padding-bottom: 5px;
}

.login-form input {
    font-family: 'Plus Jakarta Sans';
    background-color: var(--surface);
    fill: var(--surface);
    width: 100%;
    /* max-width: 100%; */
    padding: 2% 2% 2% 2%;
    border-radius: 10px;
    border: 1px var(--outline-variant) solid;

    &:focus-within {
        outline: none;
    }
}

.forgotten-password {
    display: flex;
    justify-content: end;
    margin: 20px 10px 20px 0;

}

.forgotten-password a {
    text-decoration: none;
    font-family: 'Plus Jakarta Sans';
    font-size: smaller;
    font-weight: bold;
    color: var(--primary);

    &:hover {
        text-decoration: underline;
    }
}