.support-area {
    margin: 25px 0px 10px 0px;
}

.support-area p {
    font-family: 'Plus Jakarta Sans';
    color: var(--on-surface-variant);
    text-align: center;
}

.support-area a {
    color: var(--primary);
    text-decoration: none;
    
    &:hover {
        text-decoration: underline;
    }
}

.support-links {
    margin: 10px 100px 20px 100px;
    display: flex;
    justify-content: space-between;
}

.support-links a {
    font-family: 'Plus Jakarta Sans';
    color: var(--outline);
}

.divider {
    margin: 0 20px 0 20px;
}

@media screen and (min-width: 1400px) {

    .support-links {
        margin: 10px 570px;
    }

    .support-links a{
        font-size: small;
    }
}