:root {
    --surface: #f8f9fa;
    --surface-dim: #d9dadb;
    --surface-bright: #f8f9fa;
    --surface-container-lowest: #ffffff;
    --surface-container-low: #f3f4f5;
    --surface-container: #edeeef;
    --surface-container-high: #e7e8e9;
    --surface-container-highest: #e1e3e4;
    --on-surface: #191c1d;
    --on-surface-variant: #45464e;
    --inverse-surface: #2e3132;
    --inverse-on-surface: #f0f1f2;
    --outline: #75777e;
    --outline-variant: #c6c6ce;
    --surface-tint: #525e7f;
    --primary: #182442;
    --on-primary: #ffffff;
    --primary-container: #2e3a59;
    --on-primary-container: #98a4c9;
    --on-primary-container-2: #dbe1f3;
    --inverse-primary: #bac6ec;
    --secondary: #555f6d;
    --on-secondary: #ffffff;
    --secondary-container: #d6e0f1;
    --on-secondary-container: #596372;
    --tertiary: #002c1b;
    --on-tertiary: #ffffff;
    --tertiary-container: #00442d;
    --on-tertiary-container: #17bb83;
    --error: #ba1a1a;
    --on-error: #ffffff;
    --error-container: #ffdad6;
    --on-error-container: #93000a;
    --primary-fixed: #dae2ff;
    --primary-fixed-dim: #bac6ec;
    --on-primary-fixed: #0d1a38;
    --on-primary-fixed-variant: #3a4666;
    --secondary-fixed: #d9e3f4;
    --secondary-fixed-dim: #bdc7d8;
    --on-secondary-fixed: #121c28;
    --on-secondary-fixed-variant: #3e4755;
    --tertiary-fixed: #6ffbbe;
    --tertiary-fixed-dim: #4edea3;
    --on-tertiary-fixed: #002113;
    --on-tertiary-fixed-variant: #005236;
    --background: #f8f9fa;
    --on-background: #191c1d;
    --surface-variant: #e1e3e4;
}