header {
    display: flex;
    border-bottom: 1px;
    border-color: black;
}

.heading h1 {
    font-family: 'Plus Jakarta Sans';
    font-size: 40px;
    font-weight: bold;
    color: var(--primary);
    margin: 20px 0px 0px 15px;
}

.icons {
    margin: 25px 30px 0px 0px;
    display: inline-flex;
    font-size: 30px;
    text-align: center;
    justify-content: end;
    flex: 1;
}

#logout-btn {
    cursor: pointer;
    color: rgb(255, 81, 81);
}

#notification-btn {
    cursor: pointer;
    color: var(--primary);
}